body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header, .footer
{
  line-height: 3em;
  height: 3em;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 95%;
}

.header button, .footer button
{
    /* Hide the buttoney look */
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;

    color: orange;
    text-shadow: 0.5px 0px 0.5px black;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

.header button:focus, .footer button:focus
{
  outline: none !important;
}

.header .left, .footer .left
{
  float: left;
}

.header .right, .footer .right
{
  float: right;
}

.footer
{
  position: absolute;
  bottom: 0px;
}

.note
{
  height: 10%;
  border-bottom: 1px solid rgba(169, 169, 169, 0.3);
  font-size: 16px;
  padding-bottom: 0.3em;
  color: darkgray;
  transition-duration: 0.25s;
}

.note:hover
{
  background-color: wheat;
}

.note-header
{
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 0.1em;
}

.note-date
{
  font-weight: bold;
  margin-right: 1em;
}

.container
{
  margin-left: 10px;
  margin-right: 10px;
}

.note-list
{
  list-style-type:none;
  padding-left: 0;
}