body
{
  background-color: black !important;
}

.result
{
  color: white;
  text-align: right;
  font-size: 50px;
  height: 3em;
  display: flex;
  align-items: flex-end; /* Align vertically */
  justify-content: flex-end; /* Align horizontally */
}

.button
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button > button
{
  height: 2.5em;
  width: 2.5em;
  font-size: 25px;
  border-color: black;
  border-width: 1px;
  width: 100% !important;
}

.button > button.active
{
  background-color: white !important;
}

.button > button:hover, button:focus, button:active, button:visited
{
  border-color: black;
  box-shadow: 0 0 0 0 transparent !important;
}

.button > button.dark-grey
{
  color: white;
  background-color: darkgrey;
}

.button > button.active.dark-grey
{
  color: darkgrey !important;
}

.button > button.light-grey
{
  color:black;
  background-color: lightgrey;
}

.button > button.active.orange
{
  color: lightgrey !important;
}

.button > button.orange
{
  color: white;
  background-color: orange;
}

.button > button.active.orange
{
  color: orange !important;
}

button.square
{
  border-radius: 0;  
}